BOT_TOKEN=your-telegram-bot-token
MINI_APP_PUBLIC_URL=http://localhost:5173
# Change this value to force Telegram WebView to reload miniapp bundle
MINI_APP_LAUNCH_VERSION=dev1
TEST_CHANNEL_ID=@your_test_channel
